.spinner-container{
    position: fixed;
    bottom: 50%;
    right: 50%;
    background-color: black;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px black;
}